*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.2s linear;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 150px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #259634;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #259634;
}

/* Home */
.home{
    display: flex;
    background: url('images/background.webp') no-repeat center;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    width: 100%;
    display: flex;
}
.max-width .icons i{
    border-radius: 10%;
    font-size: 2rem;
    margin: 10px;
}
.max-width .icons i:hover{
    color: #259634;
}
.home .home-content{
    margin-top: 5%;
}
.home .home-content .text-1{
    font-size: 35px;
}
.home .home-content .text-2{
    font-size: 75px;
}
.home .home-content .text-3{
    font-size: 28px;
}
button{
    display: inline-block;
    background: #259634;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid#259634;
    transition: all 0.3s ease;
}
button:hover{
    color:#259634;
    background: none;
}

/* Contact me page */
.contact-me{
    background: #023127;
    height: 100vh;
    width: 100%;
}
.contact-me .title{
    border-bottom: 0.1rem solid #a19f9f;
    width: 175px;
    margin: auto;
    margin-top: 8rem;
    color: #fff;
}
.contact-us{
    display: block;
    text-align: center;
    box-sizing: border-box;
}
.contact-us .content{
    margin-top: 2rem;
}
.contact-us .content span{
    font-weight: bold;
    font-size: 30px;
    color: #f3e2e2;
} 
.contact-us .content p{
    width: 600px;
    color: #f3e2e2;
    font-size: 18px;
    margin: auto;
    margin-bottom: 20px;
}
.contact-us .icons{
    border-top: 0.1rem solid #a19f9f;
}
.contact-us .icons a{
    color: #fff;
}

/* About */
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about{
    background: #023127;
    color: #fff;
}
.text-p1{
    text-align: center;
    margin: 10px auto;
}
p{
    color: #777;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left{
    height: 400px;
    width: 400px;
}
.about .about-content .left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right span{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
    color: #999;
}

/* Services */
.ser-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services, .teams{
    color: #fff;
    background: #022520;
}
.services .title::before, .teams .title::before{
    background: #fff;
}
.services .ser-content .card{
    width: calc(33% - 20px);
    background: #1a2c29;
    text-align: center;
    border-radius: 8px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .ser-content .card:hover{
    background: #114618;
}
.services .ser-content .box{
    transition: all 0.3s ease;
}
.services .ser-content .card:hover .box{
    transform: scale(1.05);
}
.services .ser-content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .ser-content i{
    color: #fff;
    font-size: 25px;
}